.phone {
  margin: 20px;
  width: 120px;
  height: 200px;
  border-radius: 12%;
  border: 1px solid black;
  background-color: #d3e3bb;
}

#trans {
  transform: translate(180px, -223px);
}
.screen {
  width: 100px;
  height: 90px;
  border-radius: 12%;
  border: 1px solid black;
  background-color: white;
  position: relative;
}

.screen-pos {
  top: 10px;
  left: 10px;
}

.screen-trans {
  transform: translate(10px, 10px);
}

.time-info {
  font-size: 29px;
  font-weight: 500;
  font-family: "Tahoma";
  position: relative;
}

.time-pos {
  top: 0px;
  left: 13px;
}

.time-trans {
  transform: translate(13px, 0px);
}

.button {
  height: 15px;
  width: 18px;
  border-radius: 50%;
  border: 1px solid black;
  background-color: #3f3151;
  margin-right: 10px;
  margin-bottom: 10px;
  position: relative;
}

.button-pos:nth-child(-n+4) {
  top: 20px;
  left: 20px;
}

.button-pos:nth-child(5),
.button-pos:nth-child(6),
.button-pos:nth-child(7) {
  top: -61px;
  left: 50px;
}

.button-pos:nth-child(8),
.button-pos:nth-child(9),
.button-pos:nth-child(10) {
  top: -142px;
  left: 82px;
}

.button-trans:nth-child(-n+4) {
  transform: translate(20px, 20px);
}

.button-trans:nth-child(5),
.button-trans:nth-child(6),
.button-trans:nth-child(7) {
  transform: translate(50px, -61px);
}
  
.button-trans:nth-child(8),
.button-trans:nth-child(9),
.button-trans:nth-child(10) {
  transform: translate(82px, -142px);
}
